extends ../../config/master

block append css
    +cssVendor('app.css')

block append content
    #app-7
        ol
            todo-item(v-for='todo in todos' v-bind:todo='todo')

block append script
    +scriptVendor(['vendor.js', 'app.js'])
