@import "../../config/theme"
$psd-size: 640!default
$default-psd-size: 320!default
// 默认单位
$default-unit: rem!default
// 根节点 html 的字体大小
// 用于将 px 换算为 rem
$root-size: 100!default
// 默认字体大小
$font-size: 14!default
// 默认字体颜色
$font-color: #333!default
// 默认字体
// 在 iOS 和 macOS 中优先显示苹方字体
// 如果没有苹方字体则英文优先显示 Helvetica 或 Arial，中文显示微软雅黑
// Andorid 下中文使用默认字体
$font-family: "PingFang SC", Helvetica, Arial, "微软雅黑"!default
// 视觉搞与实际尺寸的倍率，废弃的变量
// 原本需要使用该变量更方便的将 n 倍视觉搞转换为正常尺寸
// 但现在处理方式为始终使用正常尺寸进行开发，所以废弃
$ratio: $psd-size / $default-psd-size!default
// 基准尺寸
// 按照设计的亲密性原则，
// 网页中的外边距、内边距都以该尺寸的倍数进行变化
$datum: 8!default
$half: .5 * $datum!default
$small: $datum!default
$medium: $datum * 2!default
$large: $datum * 3!default
// 主题颜色
$theme: #468cc8!default
$success: #60b760!default
$info: #5fc0dc!default
$warning: #efad57!default
$danger: #d75553!default
// 移动端开发中，需要检测的 media 断点
$media-list: 375, 414, 480, 600
