@import '../../../vendor/compass/index';
@import '../../../vendor/sass-unit/core';

@include begin-test('strip-unit 函数') {
    $tests:
        (
            condition: strip-unit(1) == 1,
            msg: '1 => 1'
        ),
        (
            condition: strip-unit(1%) == 1,
            msg: '1% => 1'
        ),
        (
            condition: strip-unit(1px) == 1,
            msg: '1px => 1'
        ),
        (
            condition: strip-unit(1rem) == 1,
            msg: '1rem => 1'
        ),
        (
            condition: eq(strip-unit(1px 2px), 1 2),
            msg: '1px 2px => 1 2'
        ),
        (
            condition: eq(strip-unit(1px 2px #fff), 1 2 #fff),
            msg: '1px 2px #fff => 1 2 #fff'
        ),
        (
            condition: strip-unit(#fff) == #fff,
            msg: '#fff => #fff'
        );
    @include do($tests);
}
