@import '../../../vendor/compass/index';
@import '../../../vendor/sass-unit/core';

@include begin-test('u 函数') {
    $tests:
        (
            condition: type-of(u(1rem)) == number,
            msg: '转换单位后的值是 number 类型'
        ),
        (
            condition: eq(u(0), 0),
            msg: '0 => 0'
        ),
        (
            condition: eq(u(1rem), 1rem),
            msg: '1rem => 1rem'
        ),
        (
            condition: eq(u(#fff), #fff),
            msg: '#fff => #fff'
        ),
        (
            condition: eq(u(100%), 100%),
            msg: '100% => 100%'
        ),
        (
            condition: eq(u(1rem 2em 3% 100 #fff), 1rem 2em 3% 100px #fff),
            msg: '1rem 2em 3% 100 #fff => 1rem 2em 3% 100px #fff'
        );

    @include do($tests);
}
