//
   Created by ashenone on 16-10-21.
html(lang=lang)
    head
        title Sass 单元测试 layout-case
        block meta
            meta(charset=charset)
            meta(name='viewport', content='width=device-width, user-scalable=no')
            meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
            meta(name='format-detection' content='telephone=no')
    body
        h1 make-table-layout 展示
        .table-layout
            .table-layout-inner
                | 33.3333%
            .table-layout-inner
                | 33.3333%
            .table-layout-inner
                | 33.3333%
        script(src='vendor/vendor.js')
        script(src='vendor/layout.js')
