//
   Created by ashenone on 16-10-22.
html(lang=lang)
    head
        title Sass 单元测试 unit
        block meta
            meta(charset=charset)
            meta(name='viewport', content='width=device-width, user-scalable=no')
            meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
            meta(name='format-detection' content='telephone=no')
    body
        div
            | 所有的标签都应用 box-sizing: border-box;
        div
            a(href='#') 取消移动端 webkit 内核浏览器的点击高亮
        div
            | 统一字体大小，默认为 14px
        script(src='vendor/vendor.js')
        script(src='vendor/normalize.js')
